
html {
	scroll-behavior: smooth;
}

.char-card {
	min-width: 302px;
	max-width: 302px;

	scale: 1;
	transition: scale 0.25s ease;

	& img {
		background-image: url(/assets/img/default.webp);
	}

	&:hover,
	&:focus-visible {
		scale: 1.05;
	}

	&:active {
		scale: 0.95;
	}
}
